.panel {
  width:300px;
  height: 400px;
  border: 1px solid #c0c0c0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
}

.number_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 24px;
  /* border: 1px solid #000; */
  width: 50px;
}

.number_column div {
  margin: 5px;
}

.number_column__line {
  background: #ccc;
  width: 1px;
  height: 50px;
}
