@font-face {
    font-family: "Fusion";
    font-style: normal;
    font-weight: normal;
    src: local(""), url("../fonts/fusion_[allfont.ru].woff") format("woff"), url("../fonts/fusion_[allfont.ru].ttf") format("truetype"), url("../fonts/fusion_[allfont.ru].svg") format("svg");
}
body {
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #41b3f1;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #41b3f1;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #23527c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #41b3f1;
  border-color: #41b3f1;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #41b3f1;
  border-color: #41b3f1;
}
.btn-primary .badge {
  color: #41b3f1;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #41b3f1;
  border-color: #41b3f1;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #2a9bd8;
  border-color: #2a9bd8;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #41b3f1;
  border-color: #41b3f1;
}
.btn-xl .badge {
  color: #41b3f1;
  background-color: white;
}
.thin {
	font-family: "Fusion";
    font-weight: 300;
}
.navbar-brand{
	font-size: 30px;
	letter-spacing:-2px;
}
.navbar-brand strong{
	font-family: "Fusion";
	font-weight: 700;
}
.navbar-custom {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #41b3f1;
  font-family: "Fusion";
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #41b3f1;
  border-color: #41b3f1;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #41b3f1;
}
.navbar-custom .nav li a {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #41b3f1;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #333;
  outline: none;
}
.navbar-custom.affix-top .nav li a:hover,
.navbar-custom.affix-top .nav li a:focus {
  color: #fff;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #41b3f1;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #2a9bd8;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #ffffff;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-image: url('../img/header-bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
header.wedding {
  background-image: url('../images/portfolio/1.jpg');
}
header.corp {
  background-image: url('../images/portfolio/2.jpg');
}
header.fest {
  background-image: url('../images/portfolio/3.jpg');
}
header.holiday {
  background-image: url('../images/portfolio/4.jpg');
}
header.promo {
  background-image: url('../images/portfolio/5.jpg');
}
header.other {
  background-image: url('../images/portfolio/6.jpg');
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
}
header .intro-text .intro-lead-in {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 280px;
    padding-bottom: 110px;
    color: #fff;
  }
    header.wedding .intro-text {
    padding-top: 200px;
    padding-bottom: 100px;
    color: #fff;
  }
  header .intro-text .intro-lead-in {
    font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  header .intro-text .intro-heading {
    font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(52, 166, 210, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #41b3f1;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 16px;
    margin-top: 30px;
    line-height: 26px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 39px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
aside.clients img {
  margin: 50px auto;
}
section#contact {
  /* background-color: #222222; */
  /* background-image: url('../img/map-image.png'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}
section#contact .section-heading {
  color: white;
}
section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}
section#contact .form-control:focus {
  border-color: #41b3f1;
  box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact :-ms-input-placeholder {
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact .text-danger {
  color: #e74c3c;
}
footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #41b3f1;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Fusion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
::-moz-selection {
  text-shadow: none;
  background: #41b3f1;
}
::selection {
  text-shadow: none;
  background: #41b3f1;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #41b3f1;
}
p.phones {
    color: #fff;
    font-size: 40px;
    font-family: Fusion;
    text-align: center;
}
p.mobile-phones {
    font-size: 20px;
	 font-family: Fusion;
}
.grid-3 {
    width: 184px;
}
.gridmobile a {
    display: block;
    position: relative;
    height: 80px;
    overflow: hidden;
}

.gridmobile h3 {
    position: absolute;
    top: 35%;
    color: #fff;
    margin: 0;
    padding-left: 15px;
}
.list .item {
    display: block;
    float: left;
    margin: 10px 0 0 10px;
    text-decoration: none;
    transition: opacity 0.3s linear 0s;
    width: 230px;
    z-index: 1;
}
.list-icon-items{
    text-align: center;
}
.list-icon-items.no-margins > li {
    margin: 2.75em 0 0;
}
.list-icon-items > li {
    display: inline-block;
    float: none;
    vertical-align: top;
}
h1.secondary, .h1.secondary, h2.secondary, .h2.secondary, h3.secondary, .h3.secondary, h4.secondary, .h4.secondary, h5.secondary, .h5.secondary, h6.secondary, .h6.secondary {
    color: #41b3f1;
	margin-top: 1em;
}
.pseudo-link{
    color: #41b3f1;
    cursor: pointer;
    text-decoration: none;
    transition: all 275ms ease 0s;
}
.circ {
    background-color: #16a6b6;
    border-radius: 1000px;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    font-size: 30px;
    height: 100px;
    line-height: 105px;
    max-width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    word-spacing: 1px;
}
.circ.secondary {
    background-color: #41b3f1;
}
.circ.tertiary {
    background-color: #41b3f1;
}
.circ.large {
    font-size: 36px;
    height: 120px;
    line-height: 127px;
    width: 120px;
    word-spacing: 1px;
}
.circ.small {
    font-size: 26px;
    height: 60px;
    line-height: 63px;
    width: 60px;
    word-spacing: 1px;
}
.list-icon-items > li {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.list-icon-items.large-margins > li {
    margin: 2.75em 1em 0;
}
.list-icon-items.no-margins > li {
    margin: 2.75em 0 0;
}

.list-icon-items i {
    position: relative;
}
.list-icon-items .pulse {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ee6557;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 275ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
    width: 100%;
}
.list-icon-items a {
    border: medium none;
    display: block;
}
.list-icon-items a .pseudo-link {
    word-break: break-all;
    word-wrap: break-word;
}
.list-icon-items a:hover .button, .list-icon-items a:focus .button, .list-icon-items a:active .button {
    background-color: #16a6b6;
}
.list-icon-items a:hover .pulse, .list-icon-items a:focus .pulse, .list-icon-items a:active .pulse {
    opacity: 1;
    transform: scale(1.15);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}
.list-icon-items li.secondary .pulse {
    border: 1px solid #41b3f1;
}
@media screen and (max-width: 50em) {
	.grid figure { width: 50%; }
}
.grid.menu figure {
    width: 20%;
}
.grid.menu figure.effect-oscar h2 {
    font-size: 2em;
}
.grid { position: relative; margin: 0px auto; list-style: outside none none; text-align: center; }
.grid figure { position: relative; float: left; overflow: hidden; margin: 0px; width: 33.3333%; text-align: center; cursor: pointer; }
.grid figure img { position: relative; display: block; max-width: 102%; opacity: 1; }
.grid figure figcaption { padding: 2em; color: rgb(255, 255, 255); text-transform: uppercase; font-size: 1.25em; backface-visibility: hidden; }
.grid figure figcaption::before, .grid figure figcaption::after { pointer-events: none; }
.grid figure figcaption, .grid figure figcaption > a { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.grid figure figcaption a {
    border: 1px solid;
    padding: 15px 25px;
    bottom: -40px;
    position: relative;
    font-size: 18px;
}
.grid figure h2 { word-spacing: -0.15em; font-weight: 700; }
.grid figure h2, .grid figure p { margin: 0px; }
.grid figure p { letter-spacing: 1px; font-size: 68.5%; }
figure.effect-sadie figcaption::before { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: transparent linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%) repeat scroll 0% 0%; content: ""; opacity: 0; transform: translate3d(0px, 50%, 0px); }
figure.effect-sadie figcaption::before, figure.effect-sadie p { transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
figure.effect-sadie:hover figcaption::before, figure.effect-sadie:hover p { opacity: 1; transform: translate3d(0px, 0px, 0px); }
figure.effect-roxy figcaption::before { position: absolute; top: 30px; right: 30px; bottom: 30px; left: 30px; border: 1px solid rgb(255, 255, 255); content: ""; opacity: 0; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transform: translate3d(-20px, 0px, 0px); }
figure.effect-roxy:hover figcaption::before, figure.effect-roxy:hover p { opacity: 1; transform: translate3d(0px, 0px, 0px); }
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after { position: absolute; top: 30px; right: 30px; bottom: 30px; left: 30px; content: ""; opacity: 0; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
figure.effect-bubba figcaption::before { border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); transform: scale(0, 1); }
figure.effect-bubba figcaption::after { border-right: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); transform: scale(1, 0); }
figure.effect-bubba:hover figcaption::before, figure.effect-bubba:hover figcaption::after { opacity: 1; transform: scale(1); }
figure.effect-romeo figcaption::before, figure.effect-romeo figcaption::after { position: absolute; top: 50%; left: 50%; width: 80%; height: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transform: translate3d(-50%, -50%, 0px); }
figure.effect-romeo:hover figcaption::before { opacity: 0.5; transform: translate3d(-50%, -50%, 0px) rotate(45deg); }
figure.effect-romeo:hover figcaption::after { opacity: 0.5; transform: translate3d(-50%, -50%, 0px) rotate(-45deg); }
figure.effect-layla figcaption::before, figure.effect-layla figcaption::after { position: absolute; content: ""; opacity: 0; }
figure.effect-layla figcaption::before { top: 50px; right: 30px; bottom: 50px; left: 30px; border-top: 1px solid rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); transform: scale(0, 1); transform-origin: 0px 0px 0px; }
figure.effect-layla figcaption::after { top: 30px; right: 50px; bottom: 30px; left: 50px; border-right: 1px solid rgb(255, 255, 255); border-left: 1px solid rgb(255, 255, 255); transform: scale(1, 0); transform-origin: 100% 0px 0px; }
figure.effect-layla img, figure.effect-layla figcaption::before, figure.effect-layla figcaption::after, figure.effect-layla p { transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
figure.effect-layla:hover figcaption::before, figure.effect-layla:hover figcaption::after { opacity: 1; transform: scale(1); }
figure.effect-layla:hover figcaption::after, figure.effect-layla:hover h2, figure.effect-layla:hover p, figure.effect-layla:hover img { transition-delay: 0.15s; }
figure.effect-honey figcaption::before { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; transform: translate3d(0px, 10px, 0px); }
figure.effect-honey figcaption::before, figure.effect-honey h2 { transition: transform 0.35s ease 0s; }
figure.effect-honey:hover figcaption::before, figure.effect-honey:hover h2, figure.effect-honey:hover h2 i { opacity: 1; transform: translate3d(0px, 0px, 0px); }
figure.effect-oscar {  }
figure.effect-oscar figcaption { padding: 15%; }
figure.effect-oscar figcaption::before { position: absolute; top: 30px; right: 30px; bottom: 30px; left: 30px; border: 1px solid rgb(255, 255, 255); content: ""; }
figure.effect-oscar h2 {margin: 0px;line-height: 1em;font-size: 3em;transition: transform 0.35s ease 0s;transform: translate3d(0px, 100%, 0px);}
figure.effect-oscar figcaption::before, figure.effect-oscar p { opacity: 0; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transform: scale(0); }
figure.effect-oscar:hover h2 { transform: translate3d(0px, 0px, 0px); }
figure.effect-oscar:hover figcaption::before, figure.effect-oscar:hover p { opacity: 1; transform: scale(1); }
figure.effect-oscar:hover figcaption { background-color: rgba(0, 0, 0, 0.8); }
figure.effect-oscar:hover img { opacity: 0.4; }
figure.effect-marley h2::after { position: absolute; top: 100%; left: 0px; width: 100%; height: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; transform: translate3d(0px, 40px, 0px); }
figure.effect-marley h2::after, figure.effect-marley p { opacity: 0; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
figure.effect-marley:hover h2::after, figure.effect-marley:hover p { opacity: 1; transform: translate3d(0px, 0px, 0px); }
figure.effect-dexter figcaption::after { position: absolute; right: 30px; bottom: 30px; left: 30px; height: calc(50% - 30px); border: 7px solid rgb(255, 255, 255); content: ""; transition: transform 0.35s ease 0s; transform: translate3d(0px, -100%, 0px); }
figure.effect-dexter:hover figcaption::after { transform: translate3d(0px, 0px, 0px); }
figure.effect-sarah h2::after { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; content: ""; transition: transform 0.35s ease 0s; transform: translate3d(-100%, 0px, 0px); }
figure.effect-sarah:hover h2::after { transform: translate3d(0px, 0px, 0px); }
figure.effect-zoe p.icon-links a span::before { display: inline-block; padding: 8px 10px; font-family: "feathericons"; }
figure.effect-zoe:hover p.icon-links a:nth-child(3) { transition-delay: 0.1s; }
figure.effect-zoe:hover p.icon-links a:nth-child(2) { transition-delay: 0.15s; }
figure.effect-chico img { transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; transform: scale(1.12); }
figure.effect-chico:hover img { opacity: 0.5; transform: scale(1); }
figure.effect-chico figcaption { padding: 3em; }
figure.effect-chico figcaption::before { position: absolute; top: 30px; right: 30px; bottom: 30px; left: 30px; border: 1px solid rgb(255, 255, 255); content: ""; transform: scale(1.1); background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
figure.effect-chico figcaption::before, figure.effect-chico p { opacity: 0; transition: opacity 0.35s ease 0s, transform 0.35s ease 0s; }
figure.effect-chico p { margin: 0px auto; max-width: 200px; transform: scale(1.5); }
figure.effect-chico:hover figcaption::before, figure.effect-chico:hover p { opacity: 1; transform: scale(1); }
.parallax {
  padding: 125px 0;
  position: relative;
}
.parallax_bottom {
  background: url(../img/parallax.jpg) 0 0 repeat fixed;
   color: #fff;
}
.parallax_top {
  background: url(../img/parallax.jpg) 0 0 no-repeat fixed;

}
.parallax_team {
  background: url(../img/headshot-bg.jpg) 0 0 no-repeat fixed;
  background-size: cover;
    height: 100%;
}
.parallax-in {
  z-index: 1;
  padding: 0 80px;
  position: relative;
}

.parallax-in p {
  /* font-size: 15px; */
}

.parallax-in p:after,
.parallax-in p:before {
  position: absolute;
  font-family: Tahoma;
}

.parallax-in p:after {
  margin-left: 3px;
}

.parallax-in p:before {
  margin-left: -15px;
}

.parallax-in small {
  color: #bbb;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px){
  .parallax-in {
    padding: 0 40px;
  }

  .parallax-in p {
    font-size: 20px;
  }
}
.green-arrow {
    list-style: outside none none;
}
.green-arrow li {
    background: rgba(0, 0, 0, 0) url("../img/green-arrow.png") no-repeat scroll left top;
    padding-bottom: 15px;
    padding-left: 45px;
    text-align: left;
    font-size: 18px;
}
.green-arrow li:nth-child(2n+1) {
    font-weight: bold;
}
.header-text {
	text-align: left;
}
.side-text i {
    background-color: #41b3f1;
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    margin: 0px auto;
    text-align: center;
    width: 70px;
}
.main-point {
    border-bottom: 1px solid #f7f7f7;
    clear: both;
    margin-bottom: 40px;
    padding-bottom: 35px;
    height: 116px;
}
.main-point i {
    background-color: #00a8d6;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    float: left;
    font-size: 42px;
    height: 80px;
    line-height: 80px;
    margin-right: 20px;
    text-align: center;
    width: 80px;
}
.sales-banner {
	background: rgba(0, 0, 0, 0) url("../img/korean.jpg");
	color: #fff;
	padding: 150px 20px;
	text-align: center;
}
a.page-scroll {
    text-decoration: none;
}
